
:root {
--black: #333;  
  --white: #f5f5f5;
  --transition: 500ms ease;
  --background: var(--white);
  --foreground: var(--black);
}


#light {
  background-color: #fff;
  color: #000000e8;
  transition: background-color var(--transition), color var(--transition);
    
}

#dark {
    background-color: #222;
    color: #fff;
    transition: background-color var(--transition),
    color var(--transition);
}

