@import '../Styles/variables';

.PageBackground {
    @media screen and (min-width: $mobile) and (max-width: 1279px) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            background: radial-gradient(circle at 10% 20%, rgb(220, 217, 249) 0%, rgb(172, 224, 217) 89.8%);
        }

    @media screen and (min-width: $desktop) {
       background-image: url('https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80');
        background-size: cover; 
    }

    &.dark {
        @media screen and (min-width: $mobile) and (max-width: 1279px){
            background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
        }
    }
    
}