// screen
$mobile: 360px;
$tablet: 768px;
$desktop: 1280px;

// color
$assent-color: #212529;
$white-color: #ffffff;
$nav-link-dark-theme: #878484;
$nav-link-color: #333333;

$form-border: 2px solid #e0dddd;

$transition:500ms ease;

// footer icon
$footer-icon-width: 35px;
$footer-icon-height: 35px;




