@import '../Styles/variables';
.Section {
@media screen and (min-width: $mobile){
    display: block;
    padding-top: 35%;
    padding-bottom: 25%;
}
@media screen and (min-width:$tablet){
    padding-top: 15%;
    padding-bottom: 0%;
}
@media screen and (min-width:$desktop){
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}
}

.SectionTitle {
    font-size: 25px;
}