@import '../Styles/_variables';

.ContactsList {
    padding-left: 0;
    list-style-type: none;
}

.Notification {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    color: grey;

    .NotificationTitle {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #000;

    &.dark {
        color: white;
    }
}
}

.ContactsItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 7px;
    border-radius: 8px;
    font-size: 18px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
            
        display: block;
        width: 75%;
        height: 1px;
        background-color: $assent-color;

        transform:scaleX(0);
        transform-origin: left center;
        transition: transform $transition;

        @media screen and (min-width: $mobile) and (max-width: 767px) {
            width: 72%;
        }
    }

    &.dark::after {
        background-color: $white-color;
    }


    &:hover::after,
    &:focus::after {
    transform: scaleX(1);

    }
      
}

.ContactName {
    margin-right: 12px;
}

.DeleteButton {
    opacity: 0;
    transition: opacity 500ms ease;

    .ContactsItem:hover & {
        opacity: 1;
    }
}


// delete modal

.DeleteModalField {
    padding: 20px 50px;
    text-align: center;
}

.DeleteModalTitle {
    margin-bottom: 30px;
}

.DeleteModalButton {
    margin-right: 35px;
}
