@import '../../components/Styles/variables';

.HeroSection {

    @media screen and (min-width: $desktop) {
        background-image: url('https://images.unsplash.com/photo-1471897488648-5eae4ac6686b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
     }
   

}

.HomePageField {

    @media screen and (min-width: $mobile) and (max-width: 1279px){
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px){
        padding-top: 35%;
        padding-bottom: 35%;
        padding-left: 30%;
        padding-right: 5%;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 20%;
        padding-left: 0%;
        padding-right: 30px;
        padding-bottom: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}


.Information{
    @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    }


    .Title {
    margin-bottom: 30px;
    font-size: 45px;
    }

    .Text {
        margin-bottom: 40px;
        font-size: 15px;
    }
}

.TypingField {
    display: flex;   
    @media screen and (min-width:$desktop) {
        display: none;
    }
}

.TypingText {
    padding-bottom: 2px;
    margin-bottom: 25px;

    overflow: hidden;
    border-right: .15em solid black;
    font-family: cursive;
    // font-family: "Gill Sans",  sans-serif;
    font-size: 19px;
    white-space: nowrap;
    letter-spacing: .1em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .85s step-end infinite;
&.dark {
        animation:
                typing 3.5s steps(30, end),
                blink-caret-dark .75s step-end infinite;
    }
}


.ButtonField{
    display: flex;
    justify-content: center;
}

.BtnPanel{
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    list-style-type: none;

    & :not(:last-child) {
        margin-right: 15px;
    }

}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

@keyframes blink-caret-dark{

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}
