@import '../Styles/_variables.scss';
.UserMenuField {
    display: flex;
    align-items: center;

    @media screen and (min-width: $mobile) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px) {
        margin-bottom: 40px;
    }
        @media screen and (min-width: $desktop) {
            margin-bottom: 0px;
        }
}

.UserAvatar {
    display: block;
    border-radius: 50%;
    background-color: $white-color;
}
 
.UserName{

    &:hover,
    &:focus {
        color: $assent-color;
    }

    &.dark {
        color:$nav-link-dark-theme;
    }

    &.dark:hover,
    &.dark:focus {
        color: $white-color;
    }

    @media screen and (min-width: $mobile) {
        margin-left: 7px;
        margin-right: 60px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px) {
        margin-left: 10px;
        margin-right: 70px;
    }
    @media screen and (min-width: $desktop) {
        margin-right: 20px;
    }
}

.UserLogoutFieldBurgerMenuName {
    @media screen and (max-width: 1279px) {
        border-radius: 4px;
        background-color: #fff;

        &.dark {
            background-color: $assent-color;
        }
    }
}

